<style>
section.playlist {
    background-color: rgb(182, 153, 219);
    padding: 50px 0px;
} 
</style>
<section class="playlist">
        <div class="container">
            <div class="playlist_content">
                <div class="our_playlist">
                  
                    <div class="listen_playlist">
                    <div class="spotify-code">
 
        <iframe src="https://open.spotify.com/embed/playlist/4DEfN1IG7dpYy5QGWC2Xwo" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
                    </div>
                    <div class="listen_playlist">
                       <div class="spotify-code">
         <iframe src="https://open.spotify.com/embed/playlist/3gWIcMFA3oNZSQSttiYeMq" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

          </div>
                    </div>
                </div>
              <div class="spotifyPlayList">
  <a href="https://caiacandleco.com/">Go to our Shopify</a>
</div>
            </div>
        </div>
    </section>

{% schema %}
  {
    "name": "latest_playlist",
    "settings": [],
"presets":[

{ 
"name":"latest_playlist",
"category":"latest_playlist"
}

]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
