  <section class="some_text">
        <div class="container">
            <div class="text_content">
                <h1>{{section.settings.heading}}</h1>
                <span>{{section.settings.name}}</span>
            </div>
        </div>
    </section>

{% schema %}
  {
    "name": "latest_info",
    "settings": [

{
"type":"textarea",  
"id":"heading",
"label":"heading"
},
{
"type":"text",  
"id":"name",
"label":"Text"
}

],
"presets":[

{ 
"name":"latest_info",
"category":"latest_info"
}

]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
