<style>
  .flexxi {
    display: flex;
    flex-wrap: wrap;
    /* margin: auto 0; */
    background: #000000eb;
    padding: 100px;
}

.spotify-code {
    width: 50%;
    padding: 55px;
}
  .er{
  
  text-align:center;
    margin-top:0px;
    padding:50px;
    background: #000000eb;
  }
  .innerflexi {
    display: flex;
}
  .texi h5, .texi h6 {
  
  color:#fff;
  }

   @media screen and (max-width: 767px){
  .spotify-code {
    width: 100%;
    padding: 20px;
}
     .flexxi {
   padding: 0;
   }

</style>

<div class="flexxi">
  
<div class="spotify-code">
 
        <iframe src="https://open.spotify.com/embed/playlist/4DEfN1IG7dpYy5QGWC2Xwo" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
<div class="spotify-code">
         <iframe src="https://open.spotify.com/embed/playlist/3gWIcMFA3oNZSQSttiYeMq" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

          </div>


</div>

  <div class="view-all-cllection-btn er">
    <a href="{{section.settings.btn_link}}">{{section.settings.btn_link1}}</a>
  
  </div>

{% schema %}
  {
    "name": "Play list",
    "settings": [

{
"type":"text",  
"id":"btn_link1",
"label":"button"
},
{
"type":"url",  
"id":"btn_link",
"label":"btn_link"
}

],
"blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
]
}
],
"presets":[

{ 
"name":"Play list",
"category":"Play list"
}

]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
